body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  padding: 2%;
  background-color: #262626;
  color: white;
}
nav {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:visited {
  color: white;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

th {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

button {
  background-color: white;
  color: black;
  padding: 0.5%;
  border: 2px solid #555555;
  transition: 0.2s ease-in;
}

button:hover {
  background-color: #555555;
  color: white;
  transition: 0.2s ease-in;
}

.login {
  margin-left: 35%;
  padding-top: 20px;
  margin-top: 7%;
  width: 500px;
  height: auto;
  box-shadow: 0 5px 5px 2px rgb(0 0 0 / 17%);
}

.login h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

.login label {
  margin-left: 20px;
  margin-bottom: 10px;
  color:#000f33;
  font-size: 19px;
}

.emailInput {
  margin-bottom: 30px;
}

.passwordInput {
  margin-bottom: 40px;
}

.login input {
  height: 35px;
  width: 90%;
  margin-left: 20px;
  border: none;
  border-bottom: 1px solid;
}
input:focus {
  border: none;
  
}

#btnLogin {
  height: 47px;
  width: 70%;
  margin-left: 15%;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  background-color: #002f9d;
  margin-bottom: 30px;
}

.error {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.sortiranje {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

.opcija input{
    height: 40px;
    width: 200px;
    border: none;
    border-bottom: 1px solid #000f33;
}

#sort {
  color: #262626;
}

#btnSort {
  height: 45px;
  width: 100px;
  background-color: #4d4d4d;
  color: white;
  margin-top: 50%;
  font-size: 16px;
  border: none;
}


